[
    {
        "name": "Test simple",
        "files": "all",
		"val-args": " 0",
		"filesystem": { 
			"files": [ 
				{
					"name": "Test.txt",
					"from": "Test.txt"
				},
				{
					"name": "/in/caesar.h",
					"from": "caesar.h"
				},
								{
					"name": "in/caesar.c",
					"from": "caesar.c"
				}
			] 
		}
    }
]