[
    {
        "name": "Test simple",
        "files": ["in/caesar.c","divideByZero.cpp","in/myinvoke.cpp", "NanFloat.cpp"],
		"val-args": " 0",
		"filesystem": { 
			"files": [ 
				{
					"name": "Test.txt",
					"from": "Test.txt"
				}
			] 
		},
		"val-deternistic-nan":"false",
		"main" : "nomain"
    }
]